<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />

  <!--
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jeff_dickey" />
  <meta name="twitter:creator" content="@jeff_dickey" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{page.meta}}" />
  -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css">
</head>
<body>

<!-- Fiddle with top padding for Bootstrap navbar to not chew scenery. -->
<style>
  body {
    padding-top: 4em;
  }
</style>

{% include navbar.html %}

<div class="container-fluid">
  <div class="row">

    <div class="col-md-2" style='border-right: 1px solid grey;'>
      {% include sidebar.html %}
    </div>

    <div class="col-md-9 main" style='padding-left: 2em;'>
      <h1 class='page-header'>{{ page.title }}</h1>
      <div class='row'>
